<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
      "title": "Dashkit"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
      @@if (sidebarSize == 'base' || demoMode) {
        @@include("partials/sidebar.html", {
          "category": "dashboards",
          "subcategory": "",
          "page": "index.html"
        })
      }
      @@if (sidebarSize == 'small' || demoMode) {
        @@include("partials/sidebar-sm.html", {
          "category": "dashboards",
          "subcategory": "",
          "page": "index.html"
        })
      }
    }
    @@if (navPosition == 'topnav' || demoMode) {
      @@include("partials/topnav.html", {
        "category": "dashboards",
        "subcategory": "",
        "page": "index.html"
      })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      @@if (navPosition == 'combo' || demoMode) {
        @@include("partials/topbar.html")
      }

      <!-- HEADER -->
      <div class="header bg-dark pb-5">
        <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle text-secondary">
                  Nowość
                </h6>

                <!-- Title -->
                <h1 class="header-title text-white">
                  Zobacz najnowsze emisje!
                </h1>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .header-body -->

          <!-- Footer -->

          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="header-footer">

                      <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-xl-3">
                                
                                <a href="project-overview.html">
                                  <img src="assets/img/avatars/projects/project-1.jpg" alt="..." class="rounded">
                                </a>
                        
                              </div>
                              <div class="col-xl-3">
                        
                                <h1 class="card-title mb-3 name">
                                  <a href="project-overview.html">Footroll</a>
                                </h1>
                        
                                <p class="card-text text-muted mb-2">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat minima iusto, hic porro earum eligendi ipsam quaerat fugit. Accusantium delectus fuga aut esse ipsa fugit eveniet ipsum enim quam?
                                </p>
                                
                              </div>
                              <div class="col-xl-6 pl-5">
        
                                <!-- Pretitle -->
                                <h6 class="header-pretitle text-secondary">
                                  Zebrano:
                                </h6>
                                <div class="progress progress mb-3">
                                  <div class="progress-bar" role="progressbar" style="width: 29%" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="row justify-content-between align-items-center">
                                  <div class="col-auto">
                                    <h1 class="mb-0">58 754 PLN</h1>
                                  </div>
                                  <div class="col-auto">
                                    <h2 class="mb-0">
                                      <span class="badge badge-soft-info"> 29%</span>
                                    </h2>
                                  </div>
                                </div>
        
                                <div class="row mt-5 align-items-center">
                                  <div class="col-12">
                                    <h3>
                                      Kup jednostki
                                    </h3>
                                  </div>
                                  <div class="col-lg-4">
                                    <input type="text" class="form-control form-control-prepended" placeholder="Kwota" data-mask="#.##0,00 PLN" data-mask-reverse="true">
                                  </div>
                                  <div class="col-auto pl-0 pr-0">
                                    <h3 class="mb-0">=</h3>
                                  </div>
                                  <div class="col-lg-4 pr-0">
                                    <input type="number" class="form-control" placeholder="Jednostki">
                                  </div>
                                  <div class="col-auto">
                                    <button type="button" class="btn btn-outline-primary"><i class="fe fe-check-circle mr-2"></i> Kupuj</button>
                                  </div>
                                </div>
                        
                              </div>
                            </div>
                          </div>
                        </div>
        
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="header-footer">

                      <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-xl-3">
                                
                                <a href="project-overview.html">
                                  <img src="assets/img/avatars/projects/project-4.jpg" alt="..." class="rounded">
                                </a>
                        
                              </div>
                              <div class="col-xl-3">
                        
                                <h1 class="card-title mb-3 name">
                                  <a href="project-overview.html">Techmed</a>
                                </h1>
                        
                                <p class="card-text text-muted mb-2">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat minima iusto, hic porro earum eligendi ipsam quaerat fugit. Accusantium delectus fuga aut esse ipsa fugit eveniet ipsum enim quam?
                                </p>
                                
                              </div>
                              <div class="col-xl-6 pl-5">
        
                                <!-- Pretitle -->
                                <h6 class="header-pretitle text-secondary">
                                  Zebrano:
                                </h6>
                                <div class="progress progress mb-3">
                                  <div class="progress-bar" role="progressbar" style="width: 76%" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="row justify-content-between align-items-center">
                                  <div class="col-auto">
                                    <h1 class="mb-0">128 754 PLN</h1>
                                  </div>
                                  <div class="col-auto">
                                    <h2 class="mb-0">
                                      <span class="badge badge-soft-info"> 76%</span>
                                    </h2>
                                  </div>
                                </div>
        
                                <div class="row mt-5 align-items-center">
                                  <div class="col-12">
                                    <h3>
                                      Kup jednostki
                                    </h3>
                                  </div>
                                  <div class="col-lg-4">
                                    <input type="text" class="form-control form-control-prepended" placeholder="Kwota" data-mask="#.##0,00 PLN" data-mask-reverse="true">
                                  </div>
                                  <div class="col-auto pl-0 pr-0">
                                    <h3 class="mb-0">=</h3>
                                  </div>
                                  <div class="col-lg-4 pr-0">
                                    <input type="number" class="form-control" placeholder="Jednostki">
                                  </div>
                                  <div class="col-auto">
                                    <button type="button" class="btn btn-outline-primary"><i class="fe fe-check-circle mr-2"></i> Kupuj</button>
                                  </div>
                                </div>
                        
                              </div>
                            </div>
                          </div>
                        </div>
        
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->
      
      <!-- CARDS -->
      <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container} mt-n6">
        <div class="row">
          <div class="col-12">
            
            <div class="header-body mb-4">
              <div class="row align-items-end">
                <div class="col">
                  
                  <!-- Pretitle -->
                  <h6 class="header-pretitle text-secondary">
                    Social Media
                  </h6>
  
                  <!-- Title -->
                  <h1 class="header-title text-white">
                    Najnowsze informacje
                  </h1>
  
                </div>
              </div>
            </div>

            <div class="card">
                <div class="card-body">
                  
                  <div class="row">
                    <div class="col-xl-6 pr-4">

                      <!-- Header -->
                      <div class="mb-3">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            
                            <!-- Avatar -->
                            <a href="#!" class="avatar">
                              <img src="assets/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
      
                            <!-- Title -->
                            <h4 class="card-title mb-1">
                              Footroll
                            </h4>
      
                            <!-- Time -->
                            <p class="card-text small text-muted">
                              <span class="fe fe-clock"></span> <time datetime="2018-05-24">4 godz. temu</time>
                            </p>
                            
                          </div>
                          <div class="col-auto">
                            
                            <!-- Dropdown -->
                            <div class="dropdown">
                              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                  Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Something else here
                                </a>
                              </div>
                            </div>
                            
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Text -->
                      <p class="mb-3">
                        I've been working on shipping the latest version of Launchday. The story I'm trying to focus on is something like "You're launching soon and need to be 100% focused on your product. Don't lose precious days designing, coding, and testing a product site. Instead, build one in minutes."
                      </p>
                      
                      <p class="mb-4">
                          What do you y'all think? Would love some feedback from <a href="#!" class="badge badge-soft-primary">@Ab</a> or <a href="#!" class="badge badge-soft-primary">@Adolfo</a>?
                      </p>
      
                      <!-- Image -->
                      <p class="text-center mb-3">
                        <img src="assets/img/covers/profile-cover-4.jpg" alt="..." class="img-fluid rounded">
                      </p>
      
                      <!-- Buttons -->
                      <div class="mb-3">
                        <div class="row">
                          <div class="col">
      
                            <a href="#!" class="btn btn-sm btn-white">
                              😬 1
                            </a>
                            <a href="#!" class="btn btn-sm btn-white">
                              👍 2
                            </a>
                            <a href="#!" class="btn btn-sm btn-white">
                              Zareaguj
                            </a>
      
                          </div>

                          <div class="col-auto">
      
                            <a href="#!" class="btn btn-sm btn-white">
                            Udostępnij
                            </a>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Divider -->
                      <hr>
      
                      <!-- Comments -->
                      <div class="comment mb-3">
                        <div class="row">
                          <div class="col-auto">
      
                            <!-- Avatar -->
                            <a class="avatar avatar-sm" href="profile-posts.html">
                              <img src="assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Body -->
                            <div class="comment-body">
      
                              <div class="row">
                                <div class="col">
      
                                  <!-- Title -->
                                  <h5 class="comment-title">
                                    Ab Hadley
                                  </h5>
      
                                </div>
                                <div class="col-auto">
      
                                  <!-- Time -->
                                  <time class="comment-time">
                                    11:12
                                  </time>
      
                                </div>
                              </div> <!-- / .row -->
      
                              <!-- Text -->
                              <p class="comment-text">
                                Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really <em>show</em> me what the product does? I think using a short looping video or something similar demo'ing the product might be better?
                              </p>
      
                            </div>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <div class="comment mb-3">
                        <div class="row">
                          <div class="col-auto">
      
                            <!-- Avatar -->
                            <a class="avatar avatar-sm" href="profile-posts.html">
                              <img src="assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Body -->
                            <div class="comment-body">
      
                              <div class="row">
                                <div class="col">
      
                                  <!-- Title -->
                                  <h5 class="comment-title">
                                    Adolfo Hess
                                  </h5>
      
                                </div>
                                <div class="col-auto">
      
                                  <!-- Time -->
                                  <time class="comment-time">
                                    11:12
                                  </time>
      
                                </div>
                              </div> <!-- / .row -->
      
                              <!-- Text -->
                              <p class="comment-text">
                                Any chance you're going to link the grid up to a public gallery of sites built with Launchday?
                              </p>
      
                            </div>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Divider -->
                      <hr>
      
                      <!-- Form -->
                      <div class="row">
                        <div class="col-auto">
      
                          <!-- Avatar -->
                          <div class="avatar avatar-sm">
                            <img src="assets/img/avatars/profiles/patryk.jpg" alt="..." class="avatar-img rounded-circle">
                          </div>
      
                        </div>
                        <div class="col ml-n2">
      
                          <!-- Input -->
                          <form class="mt-1">
                            <label class="sr-only">Skomentuj...</label>
                            <textarea class="form-control form-control-flush" data-toggle="autosize" rows="1" placeholder="Skomentuj..."></textarea>
                          </form>
      
                        </div>
                        <div class="col-auto align-self-end">
                          
                          <!-- Icons -->
                          <div class="text-muted mb-2">
                            <a class="text-reset mr-3" href="#!" data-toggle="tooltip" title="Wstaw ikonkę emoji">
                              <i class="fe fe-smile"></i>
                            </a>
                            <a class="text-reset" href="#!" data-toggle="tooltip" title="Załącz zdjęcie lub film">
                              <i class="fe fe-camera"></i>
                            </a>
                          </div>
      
                        </div>
                      </div> <!-- / .row -->

                    </div>
                    <div class="col-xl-6 pl-4">
                      <div class="header-body pt-0">
                        <div class="row align-items-end">
                          <div class="col">
                              
                            <!-- Pretitle -->
                            <h6 class="header-pretitle text-secondary">
                              Footroll
                            </h6>
    
                            <!-- Title -->
                            <h1 class="header-title text-white">
                              Wartość jednostek
                            </h1>
      
                          </div>
                        </div> <!-- / .row -->
                      </div> <!-- / .header-body -->
      
                      <!-- Footer -->
                      <div class="header-footer">
      
                        <!-- Chart -->
                        <div class="chart">
                          <canvas id="headerChart2" class="chart-canvas"></canvas>
                        </div>
    
                      </div>

                      <div class="row">
                        <div class="col-12 mt-4 mb-3">
                          <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat minima iusto, hic porro earum eligendi ipsam quaerat fugit. Accusantium delectus fuga aut esse ipsa fugit eveniet ipsum enim quam?
                          </p>
                        </div>
                        <div class="col-12 mt-5">
                          <h3>
                            Kup jednostki
                          </h3>
                          <div class="row align-items-center">
                            <div class="col-lg-4">
                              <input type="text" class="form-control form-control-prepended" placeholder="Kwota" data-mask="#.##0,00 PLN" data-mask-reverse="true">
                            </div>
                            <div class="col-auto pl-0 pr-0">
                              <h3 class="mb-0">=</h3>
                            </div>
                            <div class="col-lg-4 pr-0">
                              <input type="number" class="form-control" placeholder="Jednostki">
                            </div>
                            <div class="col-auto">
                              <button type="button" class="btn btn-outline-primary"><i class="fe fe-check-circle mr-2"></i> Kupuj</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
  
                </div>
            </div>
  
            <div class="card">
                <div class="card-body">
                  
                  <div class="row">
                    <div class="col-xl-6 pr-4">

                      <!-- Header -->
                      <div class="mb-3">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            
                            <!-- Avatar -->
                            <a href="#!" class="avatar">
                              <img src="assets/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
      
                            <!-- Title -->
                            <h4 class="card-title mb-1">
                              Footroll
                            </h4>
      
                            <!-- Time -->
                            <p class="card-text small text-muted">
                              <span class="fe fe-clock"></span> <time datetime="2018-05-24">4 godz. temu</time>
                            </p>
                            
                          </div>
                          <div class="col-auto">
                            
                            <!-- Dropdown -->
                            <div class="dropdown">
                              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                  Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Something else here
                                </a>
                              </div>
                            </div>
                            
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Text -->
                      <p class="mb-3">
                        I've been working on shipping the latest version of Launchday. The story I'm trying to focus on is something like "You're launching soon and need to be 100% focused on your product. Don't lose precious days designing, coding, and testing a product site. Instead, build one in minutes."
                      </p>
                      
                      <p class="mb-4">
                          What do you y'all think? Would love some feedback from <a href="#!" class="badge badge-soft-primary">@Ab</a> or <a href="#!" class="badge badge-soft-primary">@Adolfo</a>?
                      </p>
      
                      <!-- Image -->
                      <p class="text-center mb-3">
                        <img src="assets/img/covers/profile-cover-4.jpg" alt="..." class="img-fluid rounded">
                      </p>
      
                      <!-- Buttons -->
                      <div class="mb-3">
                        <div class="row">
                          <div class="col">
      
                            <a href="#!" class="btn btn-sm btn-white">
                              😬 1
                            </a>
                            <a href="#!" class="btn btn-sm btn-white">
                              👍 2
                            </a>
                            <a href="#!" class="btn btn-sm btn-white">
                              Zareaguj
                            </a>
      
                          </div>

                          <div class="col-auto">
      
                            <a href="#!" class="btn btn-sm btn-white">
                            Udostępnij
                            </a>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Divider -->
                      <hr>
      
                      <!-- Comments -->
                      <div class="comment mb-3">
                        <div class="row">
                          <div class="col-auto">
      
                            <!-- Avatar -->
                            <a class="avatar avatar-sm" href="profile-posts.html">
                              <img src="assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Body -->
                            <div class="comment-body">
      
                              <div class="row">
                                <div class="col">
      
                                  <!-- Title -->
                                  <h5 class="comment-title">
                                    Ab Hadley
                                  </h5>
      
                                </div>
                                <div class="col-auto">
      
                                  <!-- Time -->
                                  <time class="comment-time">
                                    11:12
                                  </time>
      
                                </div>
                              </div> <!-- / .row -->
      
                              <!-- Text -->
                              <p class="comment-text">
                                Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really <em>show</em> me what the product does? I think using a short looping video or something similar demo'ing the product might be better?
                              </p>
      
                            </div>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <div class="comment mb-3">
                        <div class="row">
                          <div class="col-auto">
      
                            <!-- Avatar -->
                            <a class="avatar avatar-sm" href="profile-posts.html">
                              <img src="assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Body -->
                            <div class="comment-body">
      
                              <div class="row">
                                <div class="col">
      
                                  <!-- Title -->
                                  <h5 class="comment-title">
                                    Adolfo Hess
                                  </h5>
      
                                </div>
                                <div class="col-auto">
      
                                  <!-- Time -->
                                  <time class="comment-time">
                                    11:12
                                  </time>
      
                                </div>
                              </div> <!-- / .row -->
      
                              <!-- Text -->
                              <p class="comment-text">
                                Any chance you're going to link the grid up to a public gallery of sites built with Launchday?
                              </p>
      
                            </div>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Divider -->
                      <hr>
      
                      <!-- Form -->
                      <div class="row">
                        <div class="col-auto">
      
                          <!-- Avatar -->
                          <div class="avatar avatar-sm">
                            <img src="assets/img/avatars/profiles/patryk.jpg" alt="..." class="avatar-img rounded-circle">
                          </div>
      
                        </div>
                        <div class="col ml-n2">
      
                          <!-- Input -->
                          <form class="mt-1">
                            <label class="sr-only">Skomentuj...</label>
                            <textarea class="form-control form-control-flush" data-toggle="autosize" rows="1" placeholder="Skomentuj..."></textarea>
                          </form>
      
                        </div>
                        <div class="col-auto align-self-end">
                          
                          <!-- Icons -->
                          <div class="text-muted mb-2">
                            <a class="text-reset mr-3" href="#!" data-toggle="tooltip" title="Wstaw ikonkę emoji">
                              <i class="fe fe-smile"></i>
                            </a>
                            <a class="text-reset" href="#!" data-toggle="tooltip" title="Załącz zdjęcie lub film">
                              <i class="fe fe-camera"></i>
                            </a>
                          </div>
      
                        </div>
                      </div> <!-- / .row -->

                    </div>
                    <div class="col-xl-6 pl-4">
                      <div class="header-body pt-0">
                        <div class="row align-items-end">
                          <div class="col">
                              
                            <!-- Pretitle -->
                            <h6 class="header-pretitle text-secondary">
                              Footroll
                            </h6>
    
                            <!-- Title -->
                            <h1 class="header-title text-white">
                              Wartość jednostek
                            </h1>
      
                          </div>
                        </div> <!-- / .row -->
                      </div> <!-- / .header-body -->
      
                      <!-- Footer -->
                      <div class="header-footer">
      
                        <!-- Chart -->
                        <div class="chart">
                          <canvas id="headerChart2" class="chart-canvas"></canvas>
                        </div>
    
                      </div>

                      <div class="row">
                        <div class="col-12 mt-4 mb-3">
                          <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat minima iusto, hic porro earum eligendi ipsam quaerat fugit. Accusantium delectus fuga aut esse ipsa fugit eveniet ipsum enim quam?
                          </p>
                        </div>
                        <div class="col-12 mt-5">
                          <h3>
                            Kup jednostki
                          </h3>
                          <div class="row align-items-center">
                            <div class="col-lg-4">
                              <input type="text" class="form-control form-control-prepended" placeholder="Kwota" data-mask="#.##0,00 PLN" data-mask-reverse="true">
                            </div>
                            <div class="col-auto pl-0 pr-0">
                              <h3 class="mb-0">=</h3>
                            </div>
                            <div class="col-lg-4 pr-0">
                              <input type="number" class="form-control" placeholder="Jednostki">
                            </div>
                            <div class="col-auto">
                              <button type="button" class="btn btn-outline-primary"><i class="fe fe-check-circle mr-2"></i> Kupuj</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
  
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                  
                  <div class="row">
                    <div class="col-xl-6 pr-4">

                      <!-- Header -->
                      <div class="mb-3">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            
                            <!-- Avatar -->
                            <a href="#!" class="avatar">
                              <img src="assets/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
      
                            <!-- Title -->
                            <h4 class="card-title mb-1">
                              Footroll
                            </h4>
      
                            <!-- Time -->
                            <p class="card-text small text-muted">
                              <span class="fe fe-clock"></span> <time datetime="2018-05-24">4 godz. temu</time>
                            </p>
                            
                          </div>
                          <div class="col-auto">
                            
                            <!-- Dropdown -->
                            <div class="dropdown">
                              <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                  Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Something else here
                                </a>
                              </div>
                            </div>
                            
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Text -->
                      <p class="mb-3">
                        I've been working on shipping the latest version of Launchday. The story I'm trying to focus on is something like "You're launching soon and need to be 100% focused on your product. Don't lose precious days designing, coding, and testing a product site. Instead, build one in minutes."
                      </p>
                      
                      <p class="mb-4">
                          What do you y'all think? Would love some feedback from <a href="#!" class="badge badge-soft-primary">@Ab</a> or <a href="#!" class="badge badge-soft-primary">@Adolfo</a>?
                      </p>
      
                      <!-- Image -->
                      <p class="text-center mb-3">
                        <img src="assets/img/covers/profile-cover-4.jpg" alt="..." class="img-fluid rounded">
                      </p>
      
                      <!-- Buttons -->
                      <div class="mb-3">
                        <div class="row">
                          <div class="col">
      
                            <a href="#!" class="btn btn-sm btn-white">
                              😬 1
                            </a>
                            <a href="#!" class="btn btn-sm btn-white">
                              👍 2
                            </a>
                            <a href="#!" class="btn btn-sm btn-white">
                              Zareaguj
                            </a>
      
                          </div>

                          <div class="col-auto">
      
                            <a href="#!" class="btn btn-sm btn-white">
                            Udostępnij
                            </a>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Divider -->
                      <hr>
      
                      <!-- Comments -->
                      <div class="comment mb-3">
                        <div class="row">
                          <div class="col-auto">
      
                            <!-- Avatar -->
                            <a class="avatar avatar-sm" href="profile-posts.html">
                              <img src="assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Body -->
                            <div class="comment-body">
      
                              <div class="row">
                                <div class="col">
      
                                  <!-- Title -->
                                  <h5 class="comment-title">
                                    Ab Hadley
                                  </h5>
      
                                </div>
                                <div class="col-auto">
      
                                  <!-- Time -->
                                  <time class="comment-time">
                                    11:12
                                  </time>
      
                                </div>
                              </div> <!-- / .row -->
      
                              <!-- Text -->
                              <p class="comment-text">
                                Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really <em>show</em> me what the product does? I think using a short looping video or something similar demo'ing the product might be better?
                              </p>
      
                            </div>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <div class="comment mb-3">
                        <div class="row">
                          <div class="col-auto">
      
                            <!-- Avatar -->
                            <a class="avatar avatar-sm" href="profile-posts.html">
                              <img src="assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                            </a>
      
                          </div>
                          <div class="col ml-n2">
                            
                            <!-- Body -->
                            <div class="comment-body">
      
                              <div class="row">
                                <div class="col">
      
                                  <!-- Title -->
                                  <h5 class="comment-title">
                                    Adolfo Hess
                                  </h5>
      
                                </div>
                                <div class="col-auto">
      
                                  <!-- Time -->
                                  <time class="comment-time">
                                    11:12
                                  </time>
      
                                </div>
                              </div> <!-- / .row -->
      
                              <!-- Text -->
                              <p class="comment-text">
                                Any chance you're going to link the grid up to a public gallery of sites built with Launchday?
                              </p>
      
                            </div>
      
                          </div>
                        </div> <!-- / .row -->
                      </div>
      
                      <!-- Divider -->
                      <hr>
      
                      <!-- Form -->
                      <div class="row">
                        <div class="col-auto">
      
                          <!-- Avatar -->
                          <div class="avatar avatar-sm">
                            <img src="assets/img/avatars/profiles/patryk.jpg" alt="..." class="avatar-img rounded-circle">
                          </div>
      
                        </div>
                        <div class="col ml-n2">
      
                          <!-- Input -->
                          <form class="mt-1">
                            <label class="sr-only">Skomentuj...</label>
                            <textarea class="form-control form-control-flush" data-toggle="autosize" rows="1" placeholder="Skomentuj..."></textarea>
                          </form>
      
                        </div>
                        <div class="col-auto align-self-end">
                          
                          <!-- Icons -->
                          <div class="text-muted mb-2">
                            <a class="text-reset mr-3" href="#!" data-toggle="tooltip" title="Wstaw ikonkę emoji">
                              <i class="fe fe-smile"></i>
                            </a>
                            <a class="text-reset" href="#!" data-toggle="tooltip" title="Załącz zdjęcie lub film">
                              <i class="fe fe-camera"></i>
                            </a>
                          </div>
      
                        </div>
                      </div> <!-- / .row -->

                    </div>
                    <div class="col-xl-6 pl-4">
                      <div class="header-body pt-0">
                        <div class="row align-items-end">
                          <div class="col">
                              
                            <!-- Pretitle -->
                            <h6 class="header-pretitle text-secondary">
                              Footroll
                            </h6>
    
                            <!-- Title -->
                            <h1 class="header-title text-white">
                              Wartość jednostek
                            </h1>
      
                          </div>
                        </div> <!-- / .row -->
                      </div> <!-- / .header-body -->
      
                      <!-- Footer -->
                      <div class="header-footer">
      
                        <!-- Chart -->
                        <div class="chart">
                          <canvas id="headerChart2" class="chart-canvas"></canvas>
                        </div>
    
                      </div>

                      <div class="row">
                        <div class="col-12 mt-4 mb-3">
                          <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat minima iusto, hic porro earum eligendi ipsam quaerat fugit. Accusantium delectus fuga aut esse ipsa fugit eveniet ipsum enim quam?
                          </p>
                        </div>
                        <div class="col-12 mt-5">
                          <h3>
                            Kup jednostki
                          </h3>
                          <div class="row align-items-center">
                            <div class="col-lg-4">
                              <input type="text" class="form-control form-control-prepended" placeholder="Kwota" data-mask="#.##0,00 PLN" data-mask-reverse="true">
                            </div>
                            <div class="col-auto pl-0 pr-0">
                              <h3 class="mb-0">=</h3>
                            </div>
                            <div class="col-lg-4 pr-0">
                              <input type="number" class="form-control" placeholder="Jednostki">
                            </div>
                            <div class="col-auto">
                              <button type="button" class="btn btn-outline-primary"><i class="fe fe-check-circle mr-2"></i> Kupuj</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
  
                </div>
            </div>

          </div>
          
        </div> <!-- / .row -->
        
      </div>

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>