<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex full" id="topbar">
  <div class="container justify-content-between">

    <a class="navbar-brand-benef" href="index.html">
        <img src="@@webRoot/assets/img/logo.svg" class="img-fluid" alt="...">
    </a>

    <!-- User -->
    <div class="navbar-user">
      
      <!-- Dropdown -->
      <div class="dropdown d-none d-md-flex">
        
        <!-- Toggle -->
        <a href="#" class="btn btn-rounded-circle btn-primary icon-xl" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fe fe-bell"></i>
          <span class="badge badge-warning badge-pill position-absolute pos-badge">23</span>
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                
                <!-- Title -->
                <h3 class="card-header-title">
                  Powiadomienia
                </h3>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .card-header -->
          <div class="card-body px-0 py-0">

            <!-- List group -->
            <div class="list-group list-group-flush">
              <a class="list-group-item px-4 bg-light" href="#!">
              
                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Dianna Smiley</strong> shared your post with <strong class="text-body">Ab Hadley</strong>, <strong class="text-body">Adolfo Hess</strong>, and <strong class="text-body">3 others</strong>.
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4 bg-light" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Ab Hadley</strong> reacted to your post with a 😍
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Adolfo Hess</strong> commented <blockquote class="text-body">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Daniela Dewitt</strong> subscribed to you.
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Miyah Myles</strong> shared your post with <strong class="text-body">Ryu Duke</strong>, <strong class="text-body">Glen Rouse</strong>, and <strong class="text-body">3 others</strong>.
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Ryu Duke</strong> reacted to your post with a 😍
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Glen Rouse</strong> commented <blockquote class="text-body">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Grace Gross</strong> subscribed to you.
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4 text-center bg-light" href="#!">
                <strong>Załaduj więcej powiadomień</strong>
              </a>
            </div>
            
          </div>
          <div class="card-footer text-center">
            <a href="#!" class="d-block">
              Oznacz wszystkie jako przeczytane
            </a>
          </div>
        </div> <!-- / .dropdown-menu -->

      </div>

      <!-- Dropdown -->
      <div class="dropdown ml-4 d-xl-none d-lg-none d-md-none">
        
        <!-- Toggle -->
        <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="@@webRoot/assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="profile-posts.html" class="dropdown-item">Profile</a>
          <a href="settings.html" class="dropdown-item">Settings</a>
          <hr class="dropdown-divider">
          <a href="sign-in.html" class="dropdown-item">Logout</a>
        </div>

      </div>

    </div>
  
  </div>
</nav>