<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
  <div class="container-fluid justify-content-end">

    <div class="mr-5 d-none d-md-flex">
      <div class="col-auto text-right">   
        <a href="#" class="text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h6 class="header-pretitle">
            Pozostały abonament
          </h6>
          <h2 class="header-title">
            1 234,56 <small>PLN</small>
          </h2>
        </a>
        <div class="p-0 mt-3 dropdown-menu dropdown-menu-right bg-light-gray border-1 border-dark">
          <a href="subscription.html" class="dropdown-item h3 my-2 text-dark"><strong>Dokup abonament</strong></a>
        </div> <!-- / .dropdown-menu --> 
      </div>
    </div>

    <div class="mr-5 d-none d-md-block">
      <div class="col-auto text-right">   
        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h6 class="header-pretitle">
            Zainwestowany kapitał
          </h6>
          <h2 class="header-title">
            6 543,21 <small>PLN</small>
          </h2>
        </a> 
        <!-- Menu -->
        <div class="mt-3 dropdown-menu dropdown-menu-right dropdown-menu-card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  
                  <!-- Title -->
                  <h3 class="card-header-title">
                    Twoje inwestycje
                  </h3>
  
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .card-header -->
            <div class="card-body px-0 py-0">
  
              <!-- List group -->
              <div class="list-group list-group-flush">
                <a class="list-group-item px-4" href="#!">
                
                  <div class="row align-items-center">
                    <div class="col">
                      
                      <!-- Content -->
                      <div class="text-muted">
                        <strong class="text-body">Footroll</strong></strong>
                      </div>
  
                    </div>
                    <div class="col-auto">
  
                      <div class="chart chart-sparkline">
                        <canvas class="chart-canvas" id="sparklineChart"></canvas>
                      </div>
                      
                    </div>
                  </div> <!-- / .row -->
  
                </a>
                <a class="list-group-item px-4" href="#!">
  
                  <div class="row align-items-center">
                    <div class="col">
                      
                      <!-- Content -->
                      <div class="text-muted">
                        <strong class="text-body">Auto Robin</strong>
                      </div>
  
                    </div>
                    <div class="col-auto">
  
                      <div class="chart chart-sparkline">
                        <canvas class="chart-canvas" id="sparklineChart2"></canvas>
                      </div>
                      
                    </div>
                  </div> <!-- / .row -->
  
                </a>
              </div>
              <div class="card-footer text-center">
                <a href="#!" class="d-block">
                  Wszystkie inwestycje
                </a>
              </div>
              
            </div>
        </div> <!-- / .dropdown-menu --> 
      </div>
      
    </div>


    <!-- User -->
    <div class="navbar-user">
      
      <!-- Dropdown -->
      <div class="dropdown d-none d-md-flex">
        
        <!-- Toggle -->
        <a href="#" class="btn btn-rounded-circle btn-primary icon-xl" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fe fe-bell"></i>
          <span class="badge badge-warning badge-pill position-absolute pos-badge">23</span>
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                
                <!-- Title -->
                <h3 class="card-header-title">
                  Powiadomienia
                </h3>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .card-header -->
          <div class="card-body px-0 py-0">

            <!-- List group -->
            <div class="list-group list-group-flush">
              <a class="list-group-item px-4 bg-light" href="#!">
              
                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Dianna Smiley</strong> shared your post with <strong class="text-body">Ab Hadley</strong>, <strong class="text-body">Adolfo Hess</strong>, and <strong class="text-body">3 others</strong>.
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4 bg-light" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Ab Hadley</strong> reacted to your post with a 😍
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Adolfo Hess</strong> commented <blockquote class="text-body">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Daniela Dewitt</strong> subscribed to you.
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Miyah Myles</strong> shared your post with <strong class="text-body">Ryu Duke</strong>, <strong class="text-body">Glen Rouse</strong>, and <strong class="text-body">3 others</strong>.
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Ryu Duke</strong> reacted to your post with a 😍
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Glen Rouse</strong> commented <blockquote class="text-body">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4" href="#!">

                <div class="row">
                  <div class="col">
                    
                    <!-- Content -->
                    <div class="small text-muted">
                      <strong class="text-body">Grace Gross</strong> subscribed to you.
                    </div>

                  </div>
                  <div class="col-auto">

                    <small class="text-muted">
                      2m
                    </small>
                    
                  </div>
                </div> <!-- / .row -->

              </a>
              <a class="list-group-item px-4 text-center bg-light" href="#!">
                <strong>Załaduj więcej powiadomień</strong>
              </a>
            </div>
            
          </div>
          <div class="card-footer text-center">
            <a href="#!" class="d-block">
              Oznacz wszystkie jako przeczytane
            </a>
          </div>
        </div> <!-- / .dropdown-menu -->

      </div>

      <!-- Dropdown -->
      <div class="dropdown ml-4 d-xl-none d-lg-none d-md-none">
        
        <!-- Toggle -->
        <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="@@webRoot/assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="profile-posts.html" class="dropdown-item">Profile</a>
          <a href="settings.html" class="dropdown-item">Settings</a>
          <hr class="dropdown-divider">
          <a href="sign-in.html" class="dropdown-item">Logout</a>
        </div>

      </div>

    </div>
  
  </div>
</nav>