.header {
    position: relative;
    display: block;

    &__home {
        padding: 80px 0;
        color: white;
        display: flex;
        align-items: center;

        @media(max-width: 575px) and (orientation: portrait) {
            padding: 60px 0;
        }

        @media(max-width: 374px) and (orientation: portrait) {
            padding: 50px 0;
        }

        @media(max-height: 600px) and (orientation: landscape) {
            padding: 70px 0;
        }

        @media(max-height: 530px) and (orientation: landscape) {
            padding: 60px 0;
        }

        @media(max-height: 480px) and (orientation: landscape) {
            padding: 50px 0;
        }

        h1 {
            margin-top: 15vh;
        }

    }

}