.navigation {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0;
    z-index: 9999;
    background-color: transparent;
    
    &.toscroll {
        position: fixed;
        transform: translateY(-110%);
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0 -25px 70px -20px rgba($color: $color-primary, $alpha: 0.75);

        @media(max-width: 767px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        @media(max-width: 575px) {
            padding-top: 8px;
            padding-bottom: 8px;
        }

    }

    &.scrolled {
        transform: translateY(0);
        transition: all 500ms ease;

        .logo {
    
            object,
            svg {
                filter: brightness(1)!important;
                max-width: 100%;
                width: 180px;

                @media(max-width: 991px) {
                    width: 160px;
                }
    
                @media(max-width: 575px) {
                    width: 140px;
                }
    
                @media(max-width: 360px) {
                    width: 120px;
                }

            }
        
        }

        .navigation__menu {

            ul {

                li {

                    a {

                        i {

                            &.fa-facebook-square {
                                color: #1877f2;
                            }

                            &.fa-linkedin {
                                color: #007bb5;
                            }

                            &.fa-twitter-square {
                                color: #1da1f2;
                            }

                            &.fa-instagram {
                                color: #c32aa3;
                            }

                        }

                    }

                }

            }

        }

    }

    @media(max-width: 767px) {
        padding-top: 20px;
    }

    @media(max-width: 575px) {
        padding-top: 15px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: block;

        object,
        svg {
            display: block;
            width: 100%;
            max-width: 220px;
            filter: brightness(1000);

            @media(max-width: 991px) {
                max-width: 180px;
            }

            @media(max-width: 575px) {
                max-width: 150px;
            }

            @media(max-width: 360px) {
                max-width: 130px;
            }

        }

    }

    .menu-mobile {
        display: none;
    }

    &__menu {
        display: block;

        ul {
            padding: 0;
            margin-top: 10px;
            margin-right: -8px;
            display: flex;
            flex-wrap: nowrap;
            position: relative;

            @media(max-width: 575px) {
                margin-right: -6px;
            }

            @media(max-width: 360px) {
                margin-right: -5px;
            }

            li {
                padding: 0 6px;

                @media(max-width: 575px) {
                    padding: 0 4px;
                }

                a { 
                    padding: 2px;

                    @media(max-width: 360px) {
                        padding: 1px;
                    }

                    i {
                        font-size: 27px;
                        color: white;
                        transition: all 200ms ease;
                        background-color: transparent;

                        @media(max-width: 991px) {
                            font-size: 24px;
                        }

                        @media(max-width: 575px) {
                            font-size: 22px;
                        }

                    }

                    &:hover {

                        i {
                            transform: scale(1.2);
                        }

                    }

                }

            }


        }

    }

}