//
// user.scss
// Use this to write your custom SCSS
//

.bg-dark-50 {
    background-color: rgba($color: $dark, $alpha: 0.50)
}

.bg-dark-75 {
    background-color: rgba($color: $dark, $alpha: 0.75)
}

.bg-dark-90 {
    background-color: rgba($color: $dark, $alpha: 0.90)
}

.bg-dark-95 {
    background-color: rgba($color: $dark, $alpha: 0.95)
}

.bg-gray-100 {
	background-color: $gray-100 !important;
}

.bg-gray-200 {
	background-color: $gray-200 !important;
}

.bg-gray-300 {
	background-color: $gray-300 !important;
}

.bg-gray-400 {
	background-color: $gray-400 !important;
}

.bg-gray-500 {
	background-color: $gray-500 !important;
}

.bg-gray-600 {
	background-color: $gray-600 !important;
}

.bg-gray-700 {
	background-color: $gray-700 !important;
}

.bg-black {
background-color: $black !important;
}

.bg-gradient-black-dark {
    background-image: linear-gradient(to bottom, $black 0%, $dark 100%);
}

.bg-gradient-black {
    background-image: linear-gradient(to bottom, $black 0%, rgba($color: $black, $alpha: 0.85) 50%, rgba($color: $black, $alpha: 0) 100%);
}

.btn.fc {
    display: flex;
    align-items: center;
}

.btn-facebook {
	background-color: $facebook;
	color: white;
}

.btn-google {
	background-color: $google;
	color: white;
}

.btn-twitter {
	background-color: $twitter;
	color: white;
}

.btn-twitter,
.btn-google,
.btn-facebook {

	&:hover,
	&:active,
	&:focus {
		color: white!important;
	}

}
