// 
// user.scss
// Use this to write your custom SCSS
//
img,
picture,
iframe,
svg,
object {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container-fluid {
    max-width: 1670px;
}

.icon-xl {
    font-size: 1.25em;
}

.text-white {
    color: white!important;
}

.pos-badge {
    top: -5px!important; 
    right: -10px;
}

.input-jednostki {

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button  {
        appearance: none!important;
    }

    > i {
        position: absolute;
        top: 6px;
        right: 10px;
        font-size: 18px;
    }

}

#topbar {
    position: fixed;
    left: 250px;
    right: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: .15);
}

.main-content {
    padding-top: 80px;
    box-shadow: inset 5px 0 10px rgba($color: #000000, $alpha: .15);
}

.card-body {
    box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: .1);
}