// 
// user-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;

$white:    #FFFFFF !default;
$gray-100: #F9FBFD !default;
$gray-200: #EDF2F9 !default;
$gray-300: #E3EBF6 !default;
$gray-400: #D2DDEC !default;
$gray-500: #B1C2D9 !default;
$gray-600: #95AAC9 !default;
$gray-700: #6E84A3 !default;
$gray-800: #3B506C !default;
$gray-900: #283E59 !default;
$black:    #12263F !default;

$gray-600-dark: #244166 !default;
$gray-700-dark: #1E3A5C !default;
$gray-800-dark: #152E4D !default;
$gray-900-dark: #132A46 !default;
$black-dark: #12263F !default;

$blue:       #2C7BE5 !default;
$indigo:     #727cf5 !default; // NOT USED
$purple:     #6b5eae !default;
$pink:       #ff679b !default; // NOT USED
$red:        #E63757 !default;
$orange:     #fd7e14 !default; // NOT USED
$yellow:     #F6C343 !default;
$green:      #00D97E !default;
$teal:       #02a694 !default; // Main colour!
$cyan:       #39afd1 !default; // NOT USED
$facebook:   #3b5999 !default;
$twitter:    #1DA1F2 !default;
$google:     #DB4437 !default;

$primary:       $teal !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $black !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white,
  "facebook":   $facebook,
  "google":     $google
), $theme-colors);

$card-header-min-height: 3.75rem !default;