// 
// user.scss
// Use this to write your custom SCSS
//
img,
picture,
iframe,
svg,
object {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container-fluid {
    max-width: 1670px;
}

.icon-xl {
    font-size: 1.25em;
}

// .text-white {
//     color: white!important;
// }

.pos-badge {
    top: -5px!important; 
    right: -12px;
}

.input-jednostki {

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button  {
        appearance: none!important;
    }

    > i {
        position: absolute;
        bottom: 6px;
        right: 10px;
        font-size: 18px;
    }

}

#topbar {
    position: fixed;
    left: 250px;
    right: 0;
    top: 0;
    z-index: 1000;
    border: none;
    border-bottom: 1px solid $gray-300;
    //box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: .015);
}

#sidebar {
    border: none;
}

.main-content {
    padding-top: 72px;
    box-shadow: inset 1px 1px 0 rgba($color: $gray-300, $alpha: 1);
    border: none!important;
}

.card-body {
    //box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: .05);
}

.card {
    border-radius: 0.6em;
    border: 1px solid $gray-300;
    box-shadow: none;
}

.carousel-indicators li {
    background-color: $teal!important;
    height: 4px;
    width: 36px;
}

.btn-group {
    z-index: 0;
}

body {
    background-color: $gray-200!important;
}

button.btn {

    i {
        font-size: 16px;
        vertical-align: -1px;
        font-weight: 700;
    }

}